<h1><%= @user.name %>さんのプロフィール</h1>
<p><strong>メールアドレス:</strong> <%= @user.email %></p>

<%= link_to 'プロフィール編集', edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to 'アカウント削除', user_path(@user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
