// 申請ボタンの部分を非同期で更新
$("#request-button-container-<%= @item.id %>").html("<%= j render 'items/request_button', item: @item %>");

// 進捗状況を更新
$(".item-status-<%= @item.id %>").html("<span class='text-success'>申請済み（承認待ち）</span>");
