// ボタンの内容を更新
$("#request-button-<%= @item.id %>").replaceWith('<span class="text-success">申請済み（承認待ち）</span>' +
  '<%= j button_to "申請取り消し", event_item_item_request_path(@item.event.id, @item.id), method: :delete, remote: true, class: "btn btn-danger btn-sm", id: "request-button-#{@item.id}" %>'
);
