<div class="container text-center">
  <h1 class="my-5">ようこそ！アイテムチェッカーへ</h1>
  <p class="lead">イベント準備を効率化するためのアイテム管理ツールです。</p>
  
  <a class="btn btn-primary" href="<%= about_path %>" aria-label="アバウトページ">
    アバウトページへ
  </a>
</div>
