<!-- app/views/top.html.erb -->
<div class="top-page container my-4">
  <h1 class="text-center mb-4 display-4">管理者トップページ</h1>
  <p class="text-center mb-4">ここで管理者ダッシュボード機能を提供します。</p>

  <nav class="d-flex justify-content-center">
    <ul class="list-group list-group-flush w-75 shadow-lg p-3 bg-white rounded">
      <li class="list-group-item text-center">
        <%= link_to 'グループ管理', admin_groups_path, class: "btn btn-primary w-100 py-3" %>
      </li>
      <li class="list-group-item text-center">
        <%= link_to 'イベント管理', admin_events_path, class: "btn btn-success w-100 py-3" %>
        <p class="mt-2 text-muted">イベントに紐づいた投稿やコメントの確認もここから可能です。</p>
      </li>
      <li class="list-group-item text-center">
        <%= link_to 'アイテム管理', admin_items_path, class: "btn btn-warning w-100 py-3" %>
      </li>
      <li class="list-group-item text-center">
        <%= link_to 'ユーザー管理', admin_users_path, class: "btn btn-danger w-100 py-3" %>
      </li>
    </ul>
  </nav>
</div>
