<h1><%= @event.name %></h1>
<p>場所: <%= @event.location %></p>
<p>開催日: <%= @event.start_date.strftime('%Y-%m-%d') if @event.start_date %></p> <!-- 時間部分を省略して日付のみ表示 -->

<% if current_user.events.include?(@event) %>
  <p class="text-success">このイベントに招待されています。</p>
<% else %>
  <p class="text-danger">このイベントには招待されていません。</p>
<% end %>

<!-- イベントの説明文を表示 -->
<h2>イベント説明</h2>
<p><%= @event.introduction %></p>
