<div class="landing-page d-flex justify-content-center align-items-center flex-column" style="height: 80vh;">
  <h1 class="text-center">ようこそ！</h1>
  <p class="text-center">ログイン前のトップページです。</p>
  <div class="d-flex justify-content-center mb-3">
    <%= button_to 'ゲストログイン', guest_login_path, method: :post, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
