<!-- app/views/homes/landing.html.erb -->
<div class="landing-page">
<h1>ようこそ！</h1>
<p>ログイン前のトップページです。</p>
<div class="d-flex justify-content-center mb-3">
  <%= button_to 'ゲストログイン', guest_login_path, method: :post, class: 'btn btn-secondary' %>
</div>
</div>