<div class="landing-page">
  <!-- 右上のテキスト -->
  <div class="landing-page__header-text">
    <h1 class="landing-page__main-title">ようこそ！</h1>
    <p class="landing-page__sub-title">アイテムチェッカーへ。</p>
  </div>

  <!-- 中央のコンテンツ -->
  <div class="landing-page__center-content">
    <%= button_to 'ゲストログイン', guest_login_path, method: :post, class: 'guest-login-btn' %>
  </div>
</div>
