<div class="container text-center mt-3">
  <div class="row justify-content-center mb-3">
    <div class="col-md-8">
      <%= form_with url: homes_top_path, method: :get, class: 'd-flex justify-content-center', remote: true do %>
        <div class="input-group w-100">
          <%= text_field_tag :search, params[:search], placeholder: "イベント名で検索", class: 'form-control form-control-lg' %>
          <button type="submit" class="btn btn-primary btn-lg ms-2">検索</button>
        </div>
      <% end %>
    </div>
  </div>

  <h2 class="my-3 text-dark">イベント一覧</h2>

  <!-- イベント一覧の部分テンプレート -->
  <%= render 'events_list', events: @events %>

  <div class="d-flex justify-content-center mb-3">
    <%= paginate @events, class: 'pagination' %>
  </div>
</div>
