<% user_request = item.item_requests.find_by(user_id: current_user.id) %>
<% if item.prepared_amount < item.amount %>
  <% if user_request.nil? || user_request.status == 'rejected' %>
    <!-- 申請がない、または却下されている場合のみ表示 -->
    <%= button_to '準備申請', event_item_item_requests_path(item.event.id, item.id), method: :post, remote: true, class: 'btn btn-warning btn-sm', id: "request-button-#{item.id}" %>
  <% elsif user_request.status == 'pending' %>
    <!-- 申請中の場合 -->
    <span class="text-success">申請済み（承認待ち）</span>
    <%= button_to '申請取り消し', event_item_item_request_path(item.event.id, item.id, user_request.id), method: :delete, remote: true, class: 'btn btn-danger btn-sm', id: "request-button-#{item.id}" %>
  <% elsif user_request.status == 'approved' %>
    <!-- 承認済みの場合 -->
    <span class="text-primary">承認済み</span>
  <% end %>
<% else %>
  <span class="text-success">準備完了</span>
<% end %>
