<h1>管理者ダッシュボード</h1>

<div>
  <p>グループ数: <%= @groups_count %></p>
  <p>イベント数: <%= @events_count %></p>
</div>

<div>
  <%= link_to 'グループ一覧', admin_groups_path, class: 'btn btn-primary' %>
  <%= link_to 'イベント一覧', admin_events_path, class: 'btn btn-primary' %>
</div>
