<div class="container mt-4">
  <h2><%= @user.name %> の詳細情報</h2>

  <h4>参加しているイベント</h4>
  <table class="table table-striped table-hover mt-3">
    <thead>
      <tr>
        <th>イベント名</th>
        <th>役割</th>
      </tr>
    </thead>
    <tbody>
      <% @user.events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.role_for_user(@user).capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
